LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US

STRINGTABLE
BEGIN
    IDS_BACK                        "< Back"
    IDS_NEXT                        "Next >"
    IDS_CANCEL                      "Cancel"

    IDS_FIRSTPAGE_HEADER            "First Page"
    IDS_FIRSTPAGE_SUBHEADER         "This is the first page."
    IDS_FIRSTPAGE_TEXT              "Lizard Wizard is a zig template for making a Win32 wizard application. It is based on the 'Wizard-2020' example."

    IDS_SECONDPAGE_HEADER           "Second Page"
    IDS_SECONDPAGE_SUBHEADER        "This is the second page, who would have thought?"
    IDS_COLUMN1                     "Column 1"
    IDS_COLUMN2                     "Column 2"
END
